rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/{rest=**} {
		allow read: if signedIn();
		allow write: if isOwner(userId);
	}
	
	match /conversations/{channelId} {
		allow read: if true;
		allow create: if signedIn();
		allow write: if isOwner(resource.data.owner.id);

		match /messages/{messageId} {
			allow read: if true;
			allow create: if signedIn();
			allow write: if isOwner(resource.data.sender.id);
		}

		match /members/{memberId} {
			allow read: if true;
			allow write: if isOwner(resource.data.id);
		}
	}

	function isOwner(userId){
    	return request.auth.uid == userId;
    }
    
    function signedIn(){
    	return request.auth != null;
    }

  }
}