.modal-container{
	display: flex;
	flex-direction: column;
	align-items: center;

	textarea{
		resize: none;
		flex: 1;
	}
}

.channel-section{
	width: 50%;
	@media screen and (max-width: 375px) {
		width: 75%;
	}
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
}

.or{
	text-transform: uppercase;
	font-weight: bold;
	margin: .5rem 0;
	color: var(--text-dark-white);
	span{
		letter-spacing: -.1rem;
		display: inline-block;
		margin: 0 .4ch;
	}
}

mat-form-field{
	width: 100%;
}