$colors: (
	neutral: (
		100: #ccc,
		200: #828282,
		300: #3c393f,
		400: #36393f,
		500: #252329,
		600: darken(#252329, 5),
		700: #252329,
		800: #120f13,
		900: #0b090c,
	),
	secondary: (
		100: #2f80ed,
		200: #2a73d5,
		300: #2666be,
		400: #215aa6,
		600: #184077,
		700: #0e2647,
	),
	primary: (
		100: #c2185b,
		200: #af1652,
		300: #9b1349,
		400: #881140,
		500: #740e37,
		600: #4e0a24,
		700: #270512,
	)
)