<main class="channel">
	<header class="section-header">
		<div>
			<img
				*ngIf="this.drawerManager.showHamburger"
				class="hamburger"
				(click)="this.drawerManager.openDrawer()"
				src="assets/hamburger_icon.svg"
				alt=""
			/>
			<ngx-skeleton-loader
				*ngIf="loading; else name"
				[theme]="{
					marginBottom: '0px',
					backgroundColor: '#eff1f633',
					maxWidth: '50vw',
					width: '400px'
				}"
				count="1"
				animation="progress-dark"
			></ngx-skeleton-loader>
		</div>
		<div class="buttons" *ngIf="!this.empty">
			<button [copy-clipboard]="'http://localhost:4200/invite/'+this.InviteCode" mat-raised-button color="primary">Invite</button
			><button mat-raised-button color="warn" (click)="leave()">Leave</button
			><button *ngIf="this.isOwner" color="warn" (click)="deleteChannel()" mat-raised-button>Delete</button>
		</div>
	</header>
	<div class="channel-area">
		<div class="scroll-container">
			<ul class="messages" id="message-container">
				<div class="spinner-container" *ngIf="loading; else messages">
					<app-loading-spinner></app-loading-spinner>
				</div>
				<div id="scroll-to"></div>
			</ul>
		</div>

		<form
			*ngIf="!this.empty"
			id="message-form"
			(ngSubmit)="sendMessage()"
			class="message-input"
			[formGroup]="myForm"
		>
			<div class="input-body">
				<textarea
					(keydown.enter)="enterSubmit($event)"
					formControlName="message"
					autosize
					rows="1"
					name="message"
					id="message"
					[placeholder]="'Message #' + (channel$ | async)?.name"
				></textarea>
				<button type="submit" id="message-button"><mat-icon>send</mat-icon></button>
			</div>
		</form>
	</div>
</main>

<ng-template #name
	><h1 class="channel-header-text" (click)="toggleMembers()">
		{{ (channel$ | async)?.name }}
	</h1></ng-template
>

<ng-template #messages>
	<app-message *ngFor="let message of messages$ | async" [message]="message"></app-message>
</ng-template>
