.channel {
	position: relative;
	flex: 1;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.spinner-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 40px;
}

.scroll-container {
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
	&::-webkit-scrollbar {
		width: 0.5rem;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 100vh;
		background: var(--light-black);
	}
}


header {
	h1 {
		margin: 0;
		// font-style: normal;
		font-weight: bold;
		font-size: 1rem;

		text-transform: uppercase;
		color: white;
		letter-spacing: 0.1rem;
	}
	padding: 1.8rem;
	display: flex;
	align-items: center;
}

.message-input {
	// position: absolute;
	// bottom: 1rem;
	margin-left: 1rem;
	align-self: center;
	width: calc(100% - 1rem);
	.input-body {
		width: 100%;
		background: var(--light-grey);
		padding: 0.5rem;
		border-radius: 0.5rem;
		button {
			border-radius: 0.5rem;
			border: none;
			outline: none;
			background: var(--secondary);
			color: white;
			height: 40px;
			width: 40px;
		}
		display: flex;
		align-items: flex-start;
		// align-items: center;
		textarea {
			align-self: center;
			height: 100%;
			background: none;
			outline: none;
			border: none;
			flex: 1;
			color: white;
			resize: none;
			font-size: 1.25rem;
		}
	}
}

.channel-area {
	padding: 1rem 2rem;
	padding-left: 0;
	padding-right: 0.5rem;
	padding-top: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: calc(100vh - 60px);
	justify-content: flex-end;
}

.channel-header-text {
	cursor: pointer;
}
