.header-area {
	color: #828282;
	.timestamp {
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
	}
	.username {
		display: inline-block;
		margin-right: 1ch;
		font-weight: bold;
		font-size: 18px;
		line-height: 25px;
	}
}

.message {
	display: flex;
	margin: 1rem 0;
	padding: .25rem 0;
	padding-left: 1rem;
	position: relative;
	&:hover{
		background: #04040514;
		.options{
			display: flex;
		}
	}
}

.options{
	position: absolute;
	right: 5rem;
	top: 0;
	transform: translateY(-75%);
	background: darken(#252329, 3);
	padding: .25rem;
	border-radius: .25rem;
	display: none;
	align-items: center;
	cursor: pointer;
}

.avatar-area {
	margin-right: 1.5rem;
	img {
		border-radius: 0.5rem;
	}
}

.content-area {
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	white-space: pre-wrap;
	margin-top: .25rem;
	
}
