<div class="message" [id]="this.message.id" (mouseleave)="closeOptions()">
	<div class="avatar-area">
		<img width="42" height="42" [src]="message.sender.avatar" alt="" />
	</div>
	<div class="text-area">
		<div class="header-area">
			<span class="username">{{ message.sender.username }}</span>
			<span class="timestamp">{{ this.timestamp }}</span>
		</div>
		<div
			class="content-area"
			[attr.data-only-emoji]="this.emojiOnly"
			[innerHTML]="message.parsed_text"
		></div>
	</div>
	<div class="options">
		<button (click)="deleteMessage()" mat-button>
			<mat-icon>delete</mat-icon>
		</button>
	</div>
</div>
