.sidebar-parent {
	max-width: 325px;
	width: 325px;
	min-height: 100vh;
	background: #120f13;
	display: flex;
	position: relative;
}

footer{
	height: 75px;
	width: 100%;
	background: #0b090c;
	position: absolute;
	bottom: 0;
	left: 0;
}
