.sidebar-parent {
	max-width: 325px;
	width: 325px;
	min-height: 100vh;
	background: var(--light-black);
	display: flex;
	position: relative;
	flex-direction: column;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

main {
	padding: 1rem;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	h1 {
		margin: 0;
	}
	button {
		background: var(--icon-grey);
		min-width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 !important;
	}
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	align-items: center;
	height: 75px;
	width: 100%;
	background: var(--dark-black);
	position: absolute;
	bottom: 0;
	left: 0;
	// position: relative;
	& > span {
		font-style: normal;
		font-weight: bold;
		font-size: 18px;

		color: var(--text-light-grey);
	}
	.pop-up {
		position: absolute;
		bottom: 3rem;
		right: 0.5rem;
		background: var(--dark-grey);
		padding: 1rem;
		border-radius: 0.5rem;
	}
}

.list {
	li {
		border-radius: 0.5rem;
		min-width: 164px;
		button {
			width: 100%;
			text-align: left;
		}
	}
}

.bottom.list {
	li {
		color: var(--warn-red);
	}
}

.search-bar {
	border-radius: 0.5rem;
	margin-bottom: 2rem;
	padding: 0.5rem;
	background: var(--light-grey);
	display: flex;
	align-items: center;
	input {
		background: none;
		font-size: 1.125rem;
		color: white;
		border: none;
		outline: none;
		margin-left: 1ch;
		&::placeholder {
			color: #828282;
		}
	}
}

.members-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

.description {
	font-size: 1rem;
	line-height: 25px;
}

.channel-member {
	display: flex;
	align-items: center;
	img {
		margin-right: 2ch;
		border-radius: 0.5rem;
	}
	span {
		font-weight: bold;
		font-size: 18px;
		line-height: 25px;
		/* identical to box height */

		color: #828282;
	}
}

.members-header-section{
	display: flex;
	align-items: center;
	mat-icon{
		margin-right: .5ch;
	}
}