<div class="sidebar-parent">
	<header class="section-header">
		<div *ngIf="this.channel.showMembers; then memberHeader; else channelHeader"></div>
	</header>
	<main>
		<div *ngIf="this.channel.showMembers; then members; else channels"></div>
	</main>

	<footer>
		<img width="42" height="42" [src]="(this.auth.user$ | async)?.avatar" alt="" />
		<span>{{ (this.auth.user$ | async)?.username }}</span>
		<button (click)="this.togglePopup()" class="chevron-button">
			<mat-icon>keyboard_arrow_up</mat-icon>
		</button>
		<div tabindex="100" (blur)="closePopup()" *ngIf="this.popUpOpen" id="user-popup" class="pop-up">
			<ul class="top list">
				<li>
					<button mat-button><mat-icon>account_circle</mat-icon> Profile</button>
				</li>
			</ul>
			<hr />
			<ul class="bottom list">
				<li>
					<button (click)="this.auth.logout()" mat-button>
						<mat-icon>exit_to_app</mat-icon> Logout
					</button>
				</li>
			</ul>
		</div>
	</footer>
</div>

<ng-template #channels>
	<div class="search-bar">
		<mat-icon>search</mat-icon>
		<input
			type="text"
			placeholder="Search"
			id="search-bar"
			[value]="this.searchText"
			(input)="search($event)"
		/>
	</div>
	<ul class="channels">
		<channel-item
			*ngFor="let channel of this.filteredChannels"
			[channel]="channel"
		></channel-item>
	</ul>
</ng-template>

<ng-template #channelHeader>
	<h1>Channels</h1>
	<button mat-button (click)="openDialog()"><mat-icon>add</mat-icon></button>
</ng-template>

<ng-template #memberHeader>
	<div class="members-header-section">
		<button (click)="closeMembers()" class="chevron-button">
			<mat-icon>chevron_left</mat-icon>
		</button>
		<h1>All Channels</h1>
	</div>
</ng-template>
<ng-template #members>
	<h2 class="members-title">{{ (this.channel.channel$ | async)?.name }}</h2>
	<p class="description">{{ (this.channel.channel$ | async)?.description }}</p>
	<h2 class="members-title">Members</h2>
	<ul class="channels">
		<li *ngFor="let member of this.members$ | async" class="channel-member">
			<img [src]="member.avatar" alt="" width="42" height="42" />
			<span>{{ member.username }}</span>
		</li>
	</ul>
</ng-template>
