.profile-area{
	display: flex;
	flex-direction: column;
	.inputs{
		display: flex;
		align-items: center;
		gap: 2rem;
	}
	
}

.img-selector{
	position: relative;
	z-index: 2;
	&:hover::before{
		position: absolute;
		content: "Change";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;
	}
	&:hover::after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: var(--backdrop);
		z-index: 10;
		display: flex;
		text-align: center;
		vertical-align: middle;
	}
}