@use "./styles/colors.scss" as *;
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";


:root{
	@each $type, $shades in $colors {
		@each $shade, $value in $shades {
			--clr-#{$type}-#{$shade}: #{$value};
		}
	}
	--warn-red: #EB5757;
	--dark-grey: #252329;
	--light-grey: #3c393f;
	--light-black: #120f13;
	--dark-black: #0b090c;
	--text-light-grey: #828282;
	--primary: #c2185b;
	--secondary: #2f80ed;
	--text-dark-white: #ccc;
	--grey: #36393f;
	--backdrop: #04040514;
	--medium-black: darken(#252329, 5);
	--icon-grey: #252329;
	--icon-grey-rgb: 37,35,41;
}

html,
body {
	height: 100%;
	background: var(--dark-grey);
	color: white;
	font-family: "Poppins", sans-serif !important;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.warn-snackbar {
	background: var(--warn-red);
	color: white;
}

app-channel {
	flex: 1;
}

.section-header {
	width: 100%;
	height: 60px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
	display: inline;
}

[data-only-emoji="true"] {
	img.emoji {
		width: 2rem;
		height: 2rem;
	}
}

.chevron-button{
	border: none;
	outline: none;
	background:none !important;
	color: white;
}

.hidden{
	display: none;
}

.inputs{
	.mat-form-field-wrapper{
		padding-bottom: 0;
	}
}

img{
	border-radius: .5rem;
}

.dialog-responsive {
    width: 375px;
	&.big{
		width: 40%;
		@media screen and (max-width: 800px) {
			width: 80%;
		}
	}
	max-width: 100vw !important;
}

@media only screen and (max-width: 375px) {
    .dialog-responsive {
        width: 100vw !important;
    }
}

a{
	color: var(--secondary);
}

.content-area{ 
	img {
		max-width: 100%;
	}
}